*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header_hero{
    height: 840px;
    background: linear-gradient(30deg , #37BDA6 , #CB1AE8);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.header_nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}
.header_nav a{
    color: white;
    text-decoration: none;
}
#signUp{
    padding: 7px 18px;
    border-radius: 19px;
    background-color: transparent;
    border: 1px solid rgb(223, 222, 222);
    color: white;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    height: 80%;
    gap: 40px;
}
.hero_img img{
    width: 600px;    
}
.hero_head{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 370px;
    text-align: center;
}
.hero h1{
    text-align: center;
    font-weight: bolder;
    font-size: 39px;
}
.hero_getstarted{
    background-color: white;
    color: black;
    padding: 7px 18px;
    border-radius: 19px;
    border: none;
}

.hero_try{
    background-color: transparent;
    color: white;
    padding: 7px 18px;
    border-radius: 19px;
    border: 1px solid rgb(215, 212, 212);
}

.managments{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.managments_head{
width: 380px;
text-align: center;
}
.managments_parent{
display: flex;
gap: 27px;
align-items: center;
justify-content: center;
}
.managment_child{
    width: 23%;
    border: 1px solid;
    box-shadow: 3px 3px 8px gray;
    padding: 18px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* justify-content: center; */
}
.managment_child img{
    width: 70px;
}
.child_btn{
    color: #03D6F3;
    width: fit-content;
    background-color: transparent;
    border: none;
}
.background{
    background: linear-gradient(30deg , #37BDA6 , #CB1AE8);
    color: white;
}
.backgroundbtn{
    color: white;
}

.easy{
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}
.easy img{
    width: 440px;
}
.easy_head{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h2{
    font-size: 30px;
}
.signupforfree{
    padding: 7px 15px;
    background-color: #03D6F3;
    border: none;
    border-radius: 19px;
    color: white;
}
.findoutmore{
    background-color: transparent;
    border-radius: 19px;
    padding: 7px 15px;
    border: 1px solid #03D6F3;
    color: #03D6F3;
}


.operation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 420px;
}
.operation img{
    width: 470px;
}
.operation_head{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.operation button{
    width: fit-content;
}

.buissnes{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-evenly;
}
.buissnes img{
    width: 490px;
}
.buissnes_head{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.buissnes button{
    width: fit-content;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    
}
.team_parent{
    display: flex;
    gap: 20px;
}
.team_head{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.team_child{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #DEDEDE;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.team_child img{
    width: 90%;
}
.spans{
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-size: 15px;
    align-items: center;
}
.middle{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #00b894; /* adjust to match green shade */
  display: flex;
  justify-content: center;
}

.middle sup {
  font-size: 18px;
  vertical-align: super;
  font-weight: bolder;
}
.middle p {
  font-size: 12px;
  color: #666; /* lighter for subtitle */
  margin: 0;
  display: flex;
  align-self: flex-end;
}
.subscribe{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe_head{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
input{
    padding: 5px 9px;
    background-color: #d7d5d5;
    border: none;
    outline: none;
}
 
