*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header_hero{
    height: 840px;
    background: linear-gradient(30deg , #37BDA6 , #CB1AE8);
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.header_nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}
.header_nav a{
    color: white;
    text-decoration: none;
}
button{
    padding: 7px 18px;
    border-radius: 19px;
    background-color: transparent;
    border: 1px solid rgb(223, 222, 222);
    color: white;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    height: 80%;
    gap: 40px;
}
.hero_img img{
    width: 600px;    
}
.hero_head{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 370px;
    text-align: center;
}
.hero h1{
    text-align: center;
    font-weight: bolder;
    font-size: 39px;
}
.hero_getstarted{
    background-color: white;
    color: black;
}

